body {
    background-color: var(--body-bg);
}

.conteiner {
    /* robobcze obramowanie */
    border: 1px solid black;
    max-width: 1150px;
    margin: 0 auto;
}

.col-left {
    width: 33.333%;

}

.col-right {
    background-color: var(--col-right-bg);
    width: 66.666%;
}

.welcome-tittle {
    display: flex;
    flex-direction: column;
}

.welcome-tittle,
.description {
    padding: 10% 20%;
}

.zigzag {
    position: absolute;
    right: 90px;
    bottom: 0;
    width: 150px;
    height: 34px;
}

.row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.col-data-1 {
    background-color: var(--turkus);
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.col-data-2 {
    height: 271px;
}

.flex-right {
    display: flex;
    align-items: center;

}

.h4_tittle {
    padding-top: 10%;
    padding-bottom: 3%;
    padding-left: 17%;
    padding-right: 17%;
    line-height: 2;
}

.p_text {
    padding: 3% 17%;
}

.col_right_bg {
    background-color: var(--text-bg);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.icon {
    width: 120px;
    height: 110px;
}

.image-items {
    align-items: center;
    justify-content: space-around;
    padding: 3% 17%;
}

.icon_dsc {
    text-transform: uppercase;
    text-align: center;
}

.after::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 50px;
    background-color: var(--body-color);
}

.column_revers {
    display: flex;
    flex-direction: row-reverse;
}

.first_photo,
.secend_photo {
    display: flex;
   
}
.first_photo img,
.secend_photo img {
    max-width: 100%;
    max-height: 100%;
}

.col_portfolio {
    background-color: var(--bg-port);
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;

}