body {
    background-color: var(--body-bg);
}

.conteiner {
    /* robobcze obramowanie */
    border: 1px solid black;
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
}

.col-left {
    width: 33.333%;

}

.col-right {
    background-color: var(--col-right-bg);
    width: 66.666%;
}

.welcome-tittle {
    display: flex;
    flex-direction: column;
    padding: 10% 20%;
}

.zigzag {
    position: absolute;
    right: 90px;
    bottom: 0;
    width: 150px;
    height: 34px;
}